commands:
  01_install_curl:
    command: "yum install -y curl"

  02_install_ollama:
    command: |
      curl -fsSL https://ollama.com/install.sh | sh

  03_create_ollama_service:
    command: |
      cat << 'EOF' > /etc/systemd/system/ollama.service
      [Unit]
      Description=Ollama Service
      After=network-online.target

      [Service]
      ExecStart=/usr/local/bin/ollama serve
      Restart=always
      RestartSec=5

      [Install]
      WantedBy=multi-user.target
      EOF

  04_enable_and_start_ollama:
    command: |
      systemctl daemon-reload
      systemctl enable ollama
      systemctl start ollama
