Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/xvda"           
          Ebs:
            VolumeSize: 60                  
            VolumeType: gp3                 
            DeleteOnTermination: true       
